<!doctype html>
<title>Brian Morel's Todo Web App</title>
<h1>Editing Task at Index = {{ index }}</h1>
<h2> Edit Todo </h2>

<form action="{{ url_for('edit', index=index) }}" method="post">
    Todo Name: <input type="text", name="name" value="{{todo.name}}"><br>
    Todo Description: <input type="text", name="desc" value="{{todo.desc}}", size="200"><br>
    Is the todo complete? <input type="checkbox" name="complete" {% if todo.complete %} checked {% endif %}><br>
    <button type="submit">Update Todo</button>
</form>
<form action="{{ url_for('index') }}">
    <button type="submit">Cancel</button>
</form>